@font-face {
    font-family: 'Axiforma-Medium';
    src: url(../fonts/Axiforma-Medium.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Bold';
    src: url(../fonts/Axiforma-Bold.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Regular';
    src: url(../fonts/Axiforma-Regular.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-extrabold';
    src: url(../fonts/Axiforma-ExtraBold.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Black';
    src: url(../fonts/Axiforma-Black.ttf);
  
  }



*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #F3F3F3;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.left-sidebar{
    width: 18%;
    min-height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px ;
    background: #ffffff;
    position: fixed;
    color:#858585;

    
}


.logo img{
    width: 90%;
    
}

.left-sidebar .left-content .content{
    margin-top: 30px;
    
   

}
.content p{
    font-size: 14px;
    font-family: 'axiforma-extrabold';
    line-height: 2rem;
    
}
.content img{
    vertical-align: middle;
    margin-right: 2px;

}
ul.notes{
    padding-left: 35px;
    

}
.notes li{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}

.logout button{
    width: 90%;
    font-size: 12;
    font-family: 'axiforma-bold';
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #DC4A4A;
    cursor: pointer;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'axiforma-bold';
    

}
button span img{
    vertical-align: middle;
    margin-left: 3px;
    width: 10px;
    
}


.middle{
    width: 64%;
    background-color: #ffffff;
    color: #000;
    position: fixed;
    top:0;
    left: 18%;
    right: 18%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18%;
    margin: auto;
    z-index: 1000;

}
.icon-box{
    width: 110px;
    padding: 8px 5px ;
    margin-right: 20px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    color: #013500;
}
.icon-box p{
    font-size: 12px;
    padding-top: 5px;
    font-family: 'axiforma-bold';
}
.active{
    border: 2px solid #46A644;
    color: #46A644;
}
.right-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 100%;
    background: #ffffff;
    display: flex;
}

.scrollbox{
    padding: 30px 0px 30px 40px;
    overflow: auto;
    
    
}

.scrollbox-inner{
    margin-top: 80px;
}
 .text{
    margin-bottom: 30px; 

}
.fixed-item{
    position: fixed;
    background-color: #ffffff;
    width: 18%;
    padding: 33px 0px 10px 40px;
    
   
}
.fixed-item h3{
    font-size: 16px;
    font-family: 'axiforma-bold';
    line-height: 1rem;
    color: rgb(1, 53, 0);
}
.fixed-item p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
    color: rgb(1, 53, 0);
}
 h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 1rem;
}
.text p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}

.text h3{
    font-size: 16px;
    font-family: 'axiforma-bold';
    line-height: 1rem;
}
.text p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}


.user-box{
    width: 100%;
    display: flex;
    align-items: center;
}
.feed-flex{
    justify-content: space-between;
}
.user-info .user-avater{
    
    float: left;
    
}
.user-info .user-avater img{
    width: 80%;
}


.user-name-roll{
    display: flex;
    font-size: 14px;
    font-family: 'axiforma-bold';
    color: #013500;
    
}
.user-dept-batch{
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'axiforma-medium';
    color: #858585;
    
}

.user-roll{
    margin-left: 5px;
}
.visit{
    margin-top: 10px;
    padding: 7px 14px;
    font-size: 10px;
    font-family: 'axiforma-bold';
    background-color: #858585;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
    border: 2px solid #858585;
    cursor: pointer;
    
}
.outline{
    background-color: #fff;
    color: #013500;
    border: 2px solid #013500;
    margin-left: 7px;
}

.seemore{
    margin-bottom: 100px;
    
}
.seemore a{
    font-size: 12px;
    color: #46A644;
    padding-left: 120px;
    font-family: 'axiforma-medium';


}


/* profile style begins here  */


.profile-page{
    width: 64%;
    margin: 80px auto 0;
    color: #000;
    padding-top: 10px; 
}

.profile-user{
    width: 45% ;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px 20px 15px;
    justify-content: space-between;
    
    
}
.profile-user .user-box{
    flex-basis: 50%;
}
.profile-page .user-box .user-avater-size{
    width: 90px;
    margin:20px 0 20px 50px ;
    position: relative;
    

}
.change_user_img{

    border-radius: 50%;
    border: 2px solid #013500;
    position: absolute;
    background-color: #ffffff;
    z-index: auto;
    top: 60px;
    right: 0;
    
    
}
.change_user_img i{
   font-size:15px ;
   color: #013500;
   z-index: 10;
   vertical-align: middle;
   padding: 5px;
   cursor: pointer;
   
}

.profile-page .user-box .user-avater-size img{
    width: 100%;
}
.profile-user .user-avater img{
    width: 100%;

}
.profile-user .profile-info{
    padding-top: 30px ;
}
.profile-user .profile-info .profile-space {
    padding-left: 10px ;
}

.profile-user .user-name-roll{
    margin: 10px 0 0 0px;
    
}
.profile-user .user-dept-batch{
    margin-top: 5px;
    
}
.profile-user .user-dept{
    padding-left: 10px;

}
.profile-user .flex-row{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    

}
img.center{
    vertical-align: middle;
    padding: 0 3px;
}
.profile-user .writepost{

    padding: 16px 36px;
    border-radius: 30px;
    flex-basis: 55%;
    background-color: #46A644;
    color: #fff;
    border: none;
    font-size: 12px;
    font-family: 'axiforma-bold';
    cursor: pointer;

}

.profile-user .editprofile{

    padding: 14px 10px;
    border-radius: 30px;
     flex-basis: 30%;
    color: #46A644;
    border:2px solid #46A644;
    font-size: 12px;
    font-family: 'axiforma-bold';
    cursor: pointer;
    margin-left: 10px;

}

hr {
    border-width: 1px;
    border-color:#858585;
    opacity:.1;
  }

/* container that contains the dropdown and Newsfeeds  */
.container-newsfeed{
    width: 55%;
    margin: 0 auto;
}
.newsfeed-dropdown{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

/* delete dropdown for deleting post */
.delete-post button i{
    font-size: 20px;
    color: #000;
    border: none;
    margin-top:0 ;
    background: none;

}
/* dropdown for tag button for post  */
.newsfeed-dropdown .dropdown-button{
    padding: 10px 20px;
    font-size: 12px;
    font-family: 'axiforma-medium';
    border: none;
    background-color: #FFFFFF;
    color: #013500;
    border-radius: 5px;
    position: relative;
    z-index: auto;
}

.dropdown-button .btn-spaces{
    padding-left: 40px;
}
.dropdown-button .btn-spaces i{
    color: #013500;
    font-size: 8px;
    
}
.dropdown-items{
    margin-top: 10px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 3px #F3F3F3;
    
}
.dropdown-items li{
    padding: 10px 62px 10px 10px;
    border-radius: 3px;
    background-color: #FFFFFF;
    list-style: none;
    color: #000;
    border-bottom: .1px solid #F3F3F3;
    font-size: 12px ;
    font-family: 'axiforma-medium';
    cursor: pointer;
    

}
.drop-size li{
    padding: 10px 74px 10px 10px;
    border-radius: 3px;
    background-color: #FFFFFF;
    list-style: none;
    color: #000;
    border-bottom: .1px solid #F3F3F3;
    font-size: 12px ;
    font-family: 'axiforma-medium';
    cursor: pointer;
    

}


/* news feeds  */

.newsfeed{
    padding: 7% 7% 2% 7%;
    background: #ffffff;
}

.tag-button{
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 12px;
    font-family: 'axiforma-extrabold';
    border:2px solid #DC4A4A;
    color: #DC4A4A;
    background-color: #fff;
}
.tag-button2{
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 12px;
    font-family: 'axiforma-extrabold';
    border:2px solid #F2B05C;
    color: #F2B05C;
    background-color: #fff;
}
.tag-button3{
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 12px;
    font-family: 'axiforma-extrabold';
    border:2px solid #858585;
    color: #858585;
    background-color: #fff;
}
.post-write{
    font-family: 'axiforma-medium';
    font-size: 12px;
    line-height: 20px;
}



.image-slider{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.image-slides{
    flex-basis: 48%;
   width: 100%;
}
.image-slides img{
    width: 100%;
}


.like-comment{
    display: flex;
    padding: 20px 30px;
    background-color: #fff;
    color: #46A644;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'axiforma-bold';
}
.likes{
    vertical-align: middle;
}
.align{
    width: 25%;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
    cursor: pointer;
    
}
.write-comments{
    display: flex;
    padding: 5px 10px  ;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;

}
.like-link{
    color: #46A644;
}
.comment-link{
    color: #46A644;
}

.write-comments .user-box{
    flex-basis: 10%;
}


#myTextarea {
    resize: none;
    flex-basis: 80%;
    overflow: hidden;
    border:none;
    font-size: 12px;
    font-family: 'axiforma-regular';
    margin-top: 15px;


    
    


  }



  .comments{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .comments .user-box{
    padding-top: 10px;
    padding-left: 10px;
  }
  .comments .live-comments{
    padding:5px 10px;
    margin-left: 30px;
  }
  .comments .live-comments p{
   font-family: 'axiforma-regular';
   font-size: 12px;
   text-align: justify;
  }