@font-face {
    font-family: 'Axiforma-Medium';
    src: url(../fonts/Axiforma-Medium.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Bold';
    src: url(../fonts/Axiforma-Bold.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Regular';
    src: url(../fonts/Axiforma-Regular.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-extrabold';
    src: url(../fonts/Axiforma-ExtraBold.ttf);
  
  }
  @font-face {
    font-family: 'Axiforma-Black';
    src: url(../fonts/Axiforma-Black.ttf);
  
  }



*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #F3F3F3;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.left-sidebar{
    width: 18%;
    min-height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px ;
    background: #ffffff;
    position: fixed;
    color:#858585;

    
}


.logo img{
    width: 90%;
    
}

.left-sidebar .left-content .content{
    margin-top: 30px;
    
   

}
.content p{
    font-size: 14px;
    font-family: 'axiforma-extrabold';
    line-height: 2rem;
    
}
.content img{
    vertical-align: middle;
    margin-right: 2px;

}
ul.notes{
    padding-left: 35px;
    

}
.notes li{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}

.logout button{
    width: 90%;
    font-size: 12;
    font-family: 'axiforma-bold';
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #DC4A4A;
    cursor: pointer;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'axiforma-bold';
    

}
button span img{
    vertical-align: middle;
    margin-left: 3px;
    width: 10px;
    
}


.middle{
    width: 64%;
    background-color: #ffffff;
    color: #000;
    position: fixed;
    top:0;
    left: 18%;
    right: 18%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18%;
    margin: auto;
    z-index: 1000;

}
.icon-box{
    width: 110px;
    padding: 8px 5px ;
    margin-right: 20px;
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    color: #013500;
}
.icon-box p{
    font-size: 12px;
    padding-top: 5px;
    font-family: 'axiforma-bold';
}
.active{
    border: 2px solid #46A644;
    color: #46A644;
}
.right-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 18%;
    height: 100%;
    background: #ffffff;
    display: flex;
}

.scrollbox{
    padding: 30px 0px 30px 40px;
    overflow: auto;
    
    
}

.scrollbox-inner{
    margin-top: 60px;
}
 .text{
    margin-bottom: 30px; 

}
.fixed-item{
    position: fixed;
    background-color: #ffffff;
    width: 18%;
    padding: 33px 0px 10px 40px;
    
   
}
.fixed-item h3{
    font-size: 16px;
    font-family: 'axiforma-bold';
    line-height: 1rem;
    color: rgb(1, 53, 0);
}
.fixed-item p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
    color: rgb(1, 53, 0);
}
 h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 1rem;
}
.text p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}

.text h3{
    font-size: 16px;
    font-family: 'axiforma-bold';
    line-height: 1rem;
}
.text p{
    font-size: 12px;
    font-family: 'axiforma-medium';
    line-height: 1.5rem;
}


.user-box{
    width: 100%;
    display: flex;
    align-items: center;
}
.feed-flex{
    justify-content: space-between;
}
.user-info .user-avater{
    
    float: left;
    
}
.user-info .user-avater img{
    width: 80%;
}


.user-name-roll{
    display: flex;
    font-size: 14px;
    font-family: 'axiforma-bold';
    color: #013500;
    
}
.user-dept-batch{
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'axiforma-medium';
    color: #858585;
    
}

.user-roll{
    margin-left: 5px;
}
.visit{
    margin-top: 10px;
    padding: 7px 14px;
    font-size: 10px;
    font-family: 'axiforma-bold';
    background-color: #858585;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
    border: 2px solid #858585;
    cursor: pointer;
    
}
.outline{
    background-color: #fff;
    color: #013500;
    border: 2px solid #013500;
    margin-left: 7px;
}

.seemore{
    margin-bottom: 100px;
    
}
.seemore a{
    font-size: 12px;
    color: #46A644;
    padding-left: 120px;
    font-family: 'axiforma-medium';


}

.setting{
    width: 64%;
    margin: 80px auto 0;
    color: #000;
    padding-top: 10px;
}
form{
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 100px;

}
input[type="text"], input[type="email"], input[type="password"], select {
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #ffffff;
    color: #013500;
    font-family: 'Axiforma-medium';
    letter-spacing: 1.4;
    outline-color: #46A644;
    border: none;

}

.dept_batch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.dept {
    width: 90%;
    margin-right: 10px;
}
.batch {
    width: 90%;
}
.dropdown-privacy{
    padding: 14px 20px;
    font-size: 14px;
    font-family: 'axiforma-medium';
    border: none;
    background-color: #FFFFFF;
    color: #013500;
    border-radius: 5px;
    position: relative;
    z-index: auto;

}
 .btn-spaces {
    padding-left: 40px;
}
 .btn-spaces i {
    color: #013500;
    font-size: 8px;
}


.dropdown-items {
    margin-top: 10px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 3px #F3F3F3;
}
.drop-size li {
    padding: 10px 75px 10px 10px;
    border-radius: 3px;
    background-color: #FFFFFF;
    list-style: none;
    color: #013500;
    margin-top: 5px;
    border-bottom: 0.1px solid #F3F3F3;
    font-size: 14px;
    font-family: 'axiforma-medium';
    cursor: pointer;
}

button[type="button"] {
    /* opacity: 50%; */
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 18px 10px;
    border: none;
    font-family: 'axiforma-extrabold';
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    margin: auto;
}

form p{
    font-size: 14px;
    font-family: "axiforma-bold";
    color: #013500;
    margin:15px 0;
}
.feed-privacy,.dept_batch{
    margin-bottom: 40px;

}
